---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="light previous">Die vorherigen Beiträge</a>
    {% else %}
      <span class="inactive">Keine vorherigen Beiträge</span>
    {% endif %}

    <span class="floralia">T</span>
    <span class="page_number ">{{ paginator.page }} von {{ paginator.total_pages }}</span>
      <span class="floralia">U</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="light next">Die nächsten Beiträge</a>
    {% else %}
      <span class="inactive">Keine nächsten Beiträge</span>
    {% endif %}
  </div>

  <div class="archive">
    <a href="/blog/archives">Archiv</a>
  </div>

</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
  {% else %}
  {% endif %}
  <div class="clear"></div>
</aside>
