---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="light previous">Die vorherigen Beiträge</a>
    {% else %}
      <span class="inactive">Keine vorherigen Beiträge</span>
    {% endif %}

    <span class="prev_next_arrows">&lt;</span>
    <span class="page_number ">{{ paginator.page }} von {{ paginator.total_pages }}</span>
    <span class="prev_next_arrows">&gt;</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="light next">Die nächsten Beiträge</a>
    {% else %}
      <span class="inactive">Keine nächsten Beiträge</span>
    {% endif %}
  </div>

</div>

{% if site.page_asides.size %}
    <aside class="sidebar">
    </aside>
    <div class="clear"></div>
{% endif %}
