{% capture category %}
	{{ post.categories | size }}
{% endcapture %}

<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='day'>%d</span> <span class='month'>%b</span> <span class='year'>%Y</span>"}}</time>

<h1>
	<a href="{{ root_url }}{{ post.url }}">
		{{post.title}}
	</a>
</h1>

<!--
{% if category != '0' %}
	<span class="categories">
		in 

         {% for cat in post.categories %}
			<a href="{{ root_url | remove:category }}{{ cat }}">
				{{ cat }}
				{{ cat | category_links }}
			</a>

        {% endfor %}

	</span>
{% endif %}
 -->

<div class="clear"></div>
