*
  margin: 0
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none

html
  position: relative
  background-color: $colour-bg 

body
  // width: 720px
  @include max-screen(720px)
    // width: 90%
  footer
    @include font
    color: $lightertint
    font-size: 1rem
    a
      font-size: 1rem
      color: $lightertint
    margin: 50px auto 0
    width: $layout-width
    text-align: center
    @include max-screen(720px)
      width: 90%
  
  .clear
    clear: both