$head-height: 8rem
$mobile-head-height: $head-height/2
$logo-size: 4rem
$mobile-logo-size: $logo-size/2
$margin-archive: 2rem

$article-space: 6rem

$layout-width: 642px

html
  overflow-x: hidden

@import general
@import layout/header
@import layout/main
@import layout/preview
@import layout/archive
@import layout/article
@import layout/pagination
@import layout/sidebar
@import layout/custompage