---
layout: default
single: true
---

<div class="pre-article">
  <article class="hentry" role="article">
    {% include article.html %}
    <footer>
      <p class="meta">
        {% include post/author.html %}
        {% include post/categories.html %}
      </p>
      <p class="meta">
        {% if page.previous.url %}
          Vorheriger Artikel: <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.previous.url %}{% if page.next.url %}
          <br/>
        {% endif %}{% endif %}
        {% if page.next.url %}
          Nächster Artikel: <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    </footer>
  </article>
  {% if site.disqus_short_name and page.comments == true %}
    <section>
      <h1>Comments</h1>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
  {% endif %}
</div>
{% unless page.sidebar == false %}

{% if site.page_asides.size %}
    <aside class="sidebar">
    </aside>
{% endif %}

{% endunless %}
