// real content
.pre-article
  img
    width: $layout-width
    margin: 2rem 0
    @include max-screen(720px)
      width: 100%
  article
    //padding: 0 0 48px
    margin: 0 0 48px
    header
      p.meta
        @include meta

    .entry-content
      @include a-clean
      code
        // color: mix($p, $colour-mix, 50%)
      figure.code
        padding: .314rem 0
        border: 1px solid $lighttint
        overflow: auto
        margin: 8px 8px 32px
        @include max-screen(720px)
          font-size: 10px
          margin: 0.718rem 0
        span.line-number
          visibility: hidden
          font-size: 14px
          @include max-screen(720px)
            font-size: 10px
    footer
      border-top: 1px solid $lighttint
      // This will insert space in small articles between
      // navigation and footer. So I removed'em.
      //clear: both
      font-size: .7rem
      margin: 2rem 0 0
      padding: 1rem 0 0

      p.meta,
      p
        @include meta
        text-align: left
        a
          @include meta

      a
        color: $colour1
        //text-transform: uppercase
        font-style: italic
        @include hover

      // triangle ornament as tag element
      .category-link + .ornament svg
        width: 8px
        height: 10px
        padding: 0 .2rem 0 .5rem
